/* css part*/
* {
    padding: 0;
    margin: 10px;
    text-align: center;
    border: none;
    color: #c0c0c0;
  }
  body {
    background-color:pink;
     margin-top: 6em;
     margin-bottom: 4em;
     margin-left: 215px;
     margin-right: 410px;
     color: beige;
  } 
  .calculator {
    width: 550px;
    height: 400px;
    background-color: #c0c0c0;
    box-shadow: 0px 0px 0px 14px #666;
    border: 5px solid rgb(0, 195, 255);
    border-radius: 8px;
  }
  #display {
    width: 550px;
    height: 210px;
    text-align: right;
    background-color:lightskyblue;
    border: 3px solid rgb(255, 255, 255);
    font-size: 60px;
    left: 4px;
    top: 4px;
    color:blue;
  }
  .btnTop{
    color: white;
    background-color:red;
    font-size: 35px;
    margin: auto;
    width: 120px;
    height: 70px;
    font-family: serif;
  }
  .btnNum {
    color: white;
    background-color:blue;
    font-size: 130px;
    margin: auto;
    width: 200px;
    height: 100px;
    border-radius: 12%;
  }
  .btnMath {
    color: white;
    background-color: blue;
    font-size: 450px;
    margin: right;
    width: 100px;
    height: 45px;
  }
  .btnOpps {
    color: white;
    background-color: #8d4b8d;
    font-size: 44px;
    margin: auto;
    width: 100px;
    height: 65px;
  }
